In [1]:
import pandas as pd 
import numpy as np

In [2]:
books=pd.read_csv("Books.csv")
ratings=pd.read_csv("Ratings.csv")
users=pd.read_csv("Users.csv")

C:\Users\Laptop Zone PTK\AppData\Local\Temp\ipykernel_12776\2055901106.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv("Books.csv")

In [3]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [4]:
ratings.head()
ratings.shape
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [5]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
books.isna().sum()
# books.dropna(inplace=True)

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [7]:
ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [8]:
books_rating=ratings.merge(books,on='ISBN')

## popularity based recommendation system

In [9]:
num_rating=books_rating.groupby('Book-Title').count()["Book-Rating"].reset_index()
num_rating.rename(columns={"Book-Rating":"num_rating"},inplace=True)

In [10]:
books_rating["Book-Rating"].isna().sum()

np.int64(0)

In [11]:
avg_rating=books_rating.groupby('Book-Title')["Book-Rating"].mean().reset_index()
avg_rating.rename(columns={"Book-Rating":"avg_rating"},inplace=True)

In [12]:
avg_rating.shape

(241071, 2)

In [13]:
popular_books=avg_rating.merge(num_rating,on="Book-Title")

In [14]:
popular_books

,Book-Title,avg_rating,num_rating
0,A Light in the Storm: The Civil War Diary of ...,2.250000,4
1,Always Have Popsicles,0.000000,1
2,Apple Magic (The Collector's series),0.000000,1
3,"Ask Lily (Young Women of Faith: Lily Series, ...",8.000000,1
4,Beyond IBM: Leadership Marketing and Finance ...,0.000000,1
...,...,...,...
241066,Ãƒ?Ã‚?lpiraten.,0.000000,2
241067,Ãƒ?Ã‚?rger mit Produkt X. Roman.,5.250000,4
241068,Ãƒ?Ã‚?sterlich leben.,7.000000,1
241069,Ãƒ?Ã‚?stlich der Berge.,2.666667,3
241070,Ãƒ?Ã‚?thique en toc,4.000000,2

In [15]:
popular_df=popular_books[popular_books["num_rating"]>=250].sort_values("avg_rating",ascending=False).head(50)

In [16]:
popular_df=popular_df.merge(books,on="Book-Title").drop_duplicates("Book-Title")[["Book-Title","avg_rating","num_rating","Book-Author","Image-URL-M"]]

In [29]:
popular_df["Image-URL-M"][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

## Collaborative User

In [18]:
user_ratings=books.merge(ratings.merge(users,on="User-ID",how="inner"),on="ISBN")
data2=user_ratings.groupby("User-ID")["Book-Rating"].count().reset_index()
user2=data2[data2["Book-Rating"]>200]["User-ID"]

In [19]:
filtering_users=user_ratings[user_ratings["User-ID"].isin(user2)]
filtering_users.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'User-ID', 'Book-Rating',
       'Location', 'Age'],
      dtype='object')

In [20]:
y=filtering_users.groupby("Book-Title").count()["Book-Rating"]>60
famous_books=y[y].index

In [21]:
filtering_users=filtering_users[filtering_users["Book-Title"].isin(famous_books)]

In [22]:
pt=filtering_users.pivot_table(index="Book-Title",columns="User-ID",values="Book-Rating")

In [23]:
pt.fillna(0,inplace=True)

In [24]:
pt.shape

(484, 808)

In [25]:
from sklearn.metrics.pairwise import cosine_similarity
similarty=cosine_similarity(pt)

In [ ]:
def recommend(movie_name):
    index=np.where(pt.index==movie_name)[0][0]
    similarty_items=sorted(list(enumerate(similarty[index])),key=lambda x:x[1],reverse=True)[1:7]
    data=[]
    for i in similarty_items:
        item=[]
        temp_df=books[books["Book-Title"]==pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates("Book-Title")["Book-Title"].values))
        item.extend(list(temp_df.drop_duplicates("Book-Title")["Book-Author"].values))
        item.extend(list(temp_df.drop_duplicates("Book-Title")["Image-URL-M"].values))
        data.append(item)
    return data

In [27]:
recommend("1984")

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
Fahrenheit 451
The Catcher in the Rye

In [28]:
import pickle
pickle.dump(popular_df,open("popular_books.pkl","wb"))